.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.admin-container h1{
    margin-botton: 28px;
}

.btn-register{
     margin-bottom: 28px;
}

.list{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 4px;
    border: 1px solid;
    border-color: #404040;
    margin-bottom: 12px;
    justify-content: center;
    padding: 16px 16px;
}

.list p{
    margin-bottom: 16px;
}

.list button{
    margin-right: 8px;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px;
    height: 28px;
}

.btn-delete{
    color: #77D998;
    background-color: transparent!important;
    border: 1px solid;
    border-color: #fff;
    width: 64px;
}

.btn-edit{
    color: #ffd57f;
    background-color: transparent!important;
    width: 64px;
}

.btn-logout{
    position: absolute;
    bottom: 6%;
    left: 4%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
    background-color: rgba(219, 38, 41, 0.35);
    color: #fafafa;
    transition: all 0.5s;
}

.btn-logout:hover{
    background-color: rgba(219, 38, 41, 1);
    color: #fff;   
}

.btn-logout2{
    height: 36px;
    border: 1px solid;
    border-color: #ff8a7f;
    border-radius: 4px;
    background-color: transparent!important;
    color: #ff8a7f;
    font-size: 18px;
    width: 90%;
    max-width: 600px;
    transition: all 0.5s;
}

.btn-logout2:hover{
    border-color: #ff4433;
    color: #ff4433;
}

h1{
    margin-bottom: 20px;
}